/* DOM5  Haya texto y un mismo botón que haga alternar el texto entre subrayado y no subrayado */

/* .underline{
    text-decoration: underline;
} */



/* DOM6 Haya texto y un mismo botón que permita alternar el texto entre oculto y no oculto */
/* .hidden{
    display: none;
} */



/* DOM7 Haya un recuadro y un botón que permita crear una caja dentro de ese recuadro una vez

#container{
    width: 400px;
    height: 400px;
    border: solid black 1px;
} */



/* DOM8 Haya un recuadro y un botón que permita crear una caja dentro de ese recuadro tantas veces como se quiera */

/* #container{
    width: 400px;
    height: 400px;
    border: solid black 1px;
} */



    /* DOM9 Haya un recuadro y un botón que permita crear una caja dentro de ese recuadro hasta cinco veces máxim */
   
/* #container{
    width: 400px;
    height: 400px;
    border: solid black 2px;
}

.box{
    width: 40px;
    height: 40px;
    background-color: red;
    margin: 10px;
} */



/* DOM10 Haya un recuadro, un botón que permita crear cajas dentro de ese recuadro y otro botón que permita eliminarlas, de una en una

/* #container {
    width: 400px;
    height: 400px;
    border: solid black 1px;
  }
  
  .box {
    width: 40px;
    height: 40px;
    background-color: aqua;
    margin: 10px;
  }
  
  #add-box-btn, #remove-box-btn {
    margin-top: 10px;
  } */



  /* DOM11 Haya un formulario con un campo, una caja y un botón. El botón deberá crear el contenido del formulario dentro de la caja */

  /* #Box{
    width: 300px;
    height: 300px;
    border: solid black 1px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .margin {
    margin: 70px;
  } */



  /* DOM12 Haya un formulario con tres campos, una caja y un botón. El botón deberá crear el contenido de los tres campos dentro de la caja, a la vez */

  /* #box {
    width: 300px;
    height: 300px;
    border: solid black 1px;
  } */



  /* DOM13 Haya un formulario con tres campos, una caja y un botón. El botón deberá crear el contenido de los tres campos dentro de 
  la caja, a la vez y rodeados por un borde o marco */

/* #box {
  width: 300px;
  height: 300px;
  border: solid black 1px;
}



/* DOM14 Ídem 13. El formulario deberá poder ser utilizado varias veces, creando cada vez el contenido enmarcado correspondiente */
/* #box {
  width: 300px;
  height: 300px;
  border: solid black 1px;
} */